.home-container {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
  background: #00285F;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px 30px 10px;
}

.home-content-container h1 {
  width: 260px;
  font-size: 1em;
  font-weight: 700;
  color: #FFFFFF;
}

.home-content-container p {
  width: 260px;
  font-size: 0.6em;
  font-weight: 400;
  color: #FFFFFF;
}

.home-image-container {
  padding: 10px 10px 0 10px;
}

.home-image-container img {
  width: 340px;
  max-width: 100%;
  padding: 10px;
  height: auto;
}

.home-btn-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-btn-container p {
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  color: #585858;
}

.home-btn-container .btn-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

@media (min-width: 576px) {
  .home-container {
    font-size: 36px;
  }

  .home-content-container {
    padding: 0 20px 70px 20px;
  }

  .home-content-container h1 {
    width: 516px;
  }

  .home-content-container p {
    width: 516px;
  }

  .home-image-container {
    padding: 70px 20px 0 20px;
  }

  .home-btn-container {
    flex-direction: row;
    justify-content: flex-start;
  }

  .home-btn-container button {
    margin-left: 20px;
  }

  .home-btn-container p {
    padding-top: 0;
    margin-left: 20px;
  }

}

@media (min-width: 992px) {
  .home-image-container img {
    width: 455px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    text-align: left;
    padding: 30px 150px;
    height: 85vh;
  }

  .home-card {
    flex-direction: row;
    justify-content: space-between;
    padding: calc((100vh - 630px) / 2) 80px;
  }

  .home-content-container  {
    padding: 0;
  }

  .home-btn-container {
    padding: 40px;
  }

  .home-image-container {
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .home-container {
    font-size: 45px;
    padding: 30px 150px;
  }

  .home-content-container h1 {
    width: 600px;
  }

  .home-content-container p {
    width: 600px;
  }

}