.car-card {
  margin-bottom: 30px;
}

.card-top-container {
  text-align: center;
}

.card-top-container img {
  width: 100%;
}

.card-bottom-container {
  text-align: center;
}

.card-bottom-container h5 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #000;
}

.card-bottom-container p {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 14px;
  text-align: left;
  line-height: 16px;
  color: #585858;
  font-style: italic;
}

.card-bottom-container button {
  width: 100%;
}